#lt{
  top: 440px;
  left: 668.5px;
}
#sm{
  top: 360px;
}
#iv{
  top: 280px;
  left: 595px;
}
#eg{
  top: 280px;
}
#of{
  top: 360px;
  left: 575px;
}
#egss{
  left: 225px;
  font-size: 30px;
  top: 0;
}
#egss1{
  left: 280px;
  font-size: 50px;
  top: 100;
}
#egss2{
  left: 70px;
  font-size: 20px;
  top: -100px;
}
#obfs{
  left: 290px;
  font-size: 50px;
  top: 100;
}
#obfs1{
  left: -25px;
  font-size: 20px;
  top: -100px;
}
#obfs2{
  text-align: center;
  left: 0;
  font-size: 14px;
  top: -20px;
}
#smg{
  left: 290px;
  font-size: 50px;
  top: 100;
}
#smg1{
  left: 40px;
  font-size: 20px;
  top: -100px;
}
#smg2{
  left: 100px;
  font-size: 20px;
  top: -100px;
}
#smg3{
  left: 300px;
  font-size: 20px;
  top: -100px;
}
#smg4{
  left: 220px;
  font-size: 20px;
  top: -30px;
}
#lk{
  left: 260px;
  font-size: 50px;
  top: 100;
}
#lk1{
  left: -40px;
  font-size: 20px;
  top: -100px;
}
#lk2{
  left: 294px;
  font-size: 20px;
  top: 100px;
}